* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo básico para o body */
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 70vw;
    height: 750;
    background-color: red;
}

.time {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: turquoise;
    width: 400px;
    height: 400px;
}

.times {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.inimigo {
    width: 180px;
    height: 180px;
    background-color: brown;
}

.aliado {
    width: 180px;
    height: 180px;
    background-color: greenyellow;
}

.moveset {
    width: 70vw;
    height: 150px;
    background-color: darkslateblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.moves {
    width: 100px;
    height: 100px;
    background-color: goldenrod;
}

.inimigoSelecionado {
    border: 3px solid blueviolet
}

.aliadoSelecionado {
    border: 3px solid grey
}